.neb-form-close-btn {
    position: relative;
    top: 40px !important;
    right: 15px !important;
    z-index: 9999999;
}

.neb-website-grading1to10 > neb-rating {
    display: block;
}

.neb-website-grading1to10 > neb-rating > .neb-rating.stars {
    width: 100%;
}

.neb-website-grading1to10>neb-rating>.neb-rating.stars > form ng-pristine > span {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.test-cdn-speed {
    background-color: aliceblue;
}